@tailwind base;
@tailwind components;
@tailwind utilities;

/* register  page */

.shadowColor {
  box-shadow: 0px 4px 40px 0px #34414f0d;
  border-bottom: 1px solid rgb(164, 163, 163);
}

.shadow-section-top-class {
  box-shadow: 0px 0px 40px 0px #34414f0d;
}

.grow-effect:hover {
  transform: scale(1.02);
  transition: all 1s ease;
  -webkit-box-shadow: 1px 5px 31px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 5px 31px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 5px 31px 1px rgba(34, 60, 80, 0.2);
}

.border-card {
  border-top: 3px solid #125dac;
  border-right: 1px solid #e1eaf1;
  border-left: 1px solid #e1eaf1;
  border-bottom: 1px solid #e1eaf1;
  box-shadow: 0px 0px 60px 0px #34414f0d;
}

.registerShadow-top {
  border-top: 8px solid #34414f;
  border-right: 1px solid #e1eaf1;
  border-left: 1px solid #e1eaf1;
  border-bottom: 1px solid #e1eaf1;
  box-shadow: 0px 0px 60px 0px #34414f0d;
}

.registerShadow-bottom {
  border-radius: 16px;
  border: 1px solid #e1eaf1;
  box-shadow: 0px 0px 60px 0px #34414f0d;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

.fontProDisplay {
  font-family: "GT Eesti Pro Display", arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GT Eesti Pro Display", arial;
  text-decoration: none;
}

html {
  background-color: #FDFDFD;
}

.shadow-home-page {
  box-shadow: 0px 0px 40px 0px #34414F0D;
  border: 2px solid #252c330d;
  background-color: white;
  color: #07121D;

}

.shadow-home-page:hover {
  transition: all .6s;
  transform: scale(105%);
  box-shadow: 0px 0px 40px 0px #34414F0D;
  border: 2px solid #252c330d;
  background-color: #41c981;
  color: #fff;

}

::selection {
  background-color: #3E4B57;
  color: white;
}

*::-webkit-scrollbar {
  display: block;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background: #34414F;
  border-radius: 15px;
}

li {
  list-style: none;
}

.width25 {
  min-width: 250px;
}

.border-t-4-color {
  border-top: 4px solid #125dac;
  border-left: 2px solid #E1EAF1;
  border-right: 2px solid #E1EAF1;
  border-bottom: 2px solid #E1EAF1;
}

.br-color {
  border: 2px solid #E1EAF1;

}

.rotate-90-a {
  transform: rotate(-90deg);
  padding: 10px;
  font-size: 10px;
}

.bg-border-color {
  border: 1px dashed #B1CADC
}

/* *****************************  addd classsssssssss ********************** */

.slide-top {
  -webkit-animation: slide-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-20px);
  }
}

.hoverClass:hover {
  background-color: #41c981;
  transition: all .7s;
  color: #fff;
}

/* ***************************************** loader ****************************************************** */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* ************************************************************************************* */